<!--<p>developers works!</p>-->
<!--strings: ["Jose Manuel - 20180008", "Prannay Hitten 20180006", "Marcio Guedes 2009174","Mahmoud Diane 20200298","Khushali Guinesh 20200536"],-->
<section class="html d-flex align-items-center justify-content-center">
  <div class="body col-md-6">
    <h1 style="color: red;">Neshflix</h1><span>Fiquem avontade</span>

    <ul>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h2 style="color: red">Linguagens</h2>
        <p style="line-height: 3rem">
          Angular <br> Css <br>Html5 <br>Typscript <br>Google drive api <br>Java <br>Javaspring

        </p>
      </li>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h2 style="color: red">Membros</h2>
        <p style="line-height: 3rem">
          Jose Manuel 20180008 <br>
          Pranay Hiten 20180006 <br>
          Marcio Guedes 2009174 <br>
          Mahmoud Diane 20200298 <br>
          Khushali Guinesh 20200536
        </p>
      </li>
    </ul>
    <div class="text-end">
      <button class="btn btn-danger " style="background-color: red; width: 200px; font-size: 20px;" (click)="login()">Voltar</button>
    </div>

  </div>
</section>
<div class="text-center">

</div>
